@use './variables' as *;
@use './typography' as *;

*, *::before, *::after{
	box-sizing: border-box;
}
body {
    font-family: 'AvenirNext';
    font-weight: 400;
    margin: 0;
}

.icon {
    width: 15px;
    height: 15px;
}
.avatar {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid white;
}
.image {
    width: 100px;
    height: 100px;
}
.links{
    text-decoration: none;
}