@use './variables' as *;

@mixin button {
    background-color:$secondary-color-dark;
    border-radius: 20px;
    width: 100px;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 1rem;
    border: none;
    box-shadow: rgba(81, 62, 109, 0.35) 0px 5px 15px;  
    margin: 0.5rem;
    border: 2px $secondary-color-dark solid;
    cursor: pointer;
}
