$primary-dark-color: #2c3e50;
$primary-light-color: white;

$primary-color-dark:#513E6D;
$secondary-color-dark:#6E4572;
$primary-color-medium:#E2DDE8;
$primary-color-light:#F3F3F3;
$secondary-color-medium:#843E9C;
$primary-color-text: #474747;
$divider: #E5E5E5;
$label: #BEBEBE;
$border: hsl(0, 0%, 80%);